<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</head>

<body>
<div class="top-bar"><h1 class=".VCROSD">SCRIPTED DOWNLOADER</h1></div>
<div class="main">
    <div class="Loading" id="Loading">Loading source...</div>
    <div class="side-bar">

        <fieldset>
        <form method ='POST' action="/" id="source-form">
            {{ form.hidden_tag() }}
            {{ form.source(class="dropdown-menu", onchange="showLoading()") }}
        </form>
        </fieldset>

        <!-- MEXER NESSE UL HORROROSO -->
        <div class="selected-files">
            <ul id="result-list"> </ul>
        </div>
        <div class="settings-section" onclick="downloadButton()">
            <label>START DOWNLOAD</label>
        </div>
    </div>
    <div class="search-section">
        <form method="POST" action="/search">
            <input type="text" class="search-bar" name= "gametitle" placeholder="Enter a game title"></input>
        </form>
    <div class="results">
        {% if results %}
            {% for title, url in results %}
                <div class="result-card">
                    <h3>{{ title }}</h3>
                    <label data-title="{{ title }}" onclick="addQueue(this.dataset.title)">ADD TO DOWNLOAD QUEUE</label>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>

    <div class="source_warning" id="{{ 'warning_hidden' if show_warning else "warning_visible" }}">
        <h2>No source selected. Choose one in the dropdown to start downloading</h2>
        <span class="modal_close" onclick="hideModal()">Ok</span>
    </div>
</div>

</body>
</html>