/*
palette
#00AB9F
#DF0024
#fa3123
#F3C300
#F8F1EF
#3572B6
*/

@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

html, body {
    height: 95%;
    margin: 0;
    background-color: #F3C300;
    font-family: 'VCR OSD Mono', sans-serif;
}

.top-bar{
    user-select: none;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 100px);
    margin: 10px auto 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 50px;
    background-color: #F8F1EF;
    box-shadow: 5px 5px 0 black;
}

.top-bar h1{
    margin-top: 10px;
}

.main{
    display:flex;
    width: 95%;
    height: 100%;
    background-color: #F8F1EF;
    max-width: calc(100% - 25px);
    margin: 10px auto 0 auto;
    box-shadow: 5px 5px 0 black;
}

.side-bar{
    color: #F8F1EF;
    font-size: 20px;
    min-width: 299px;
    background-color: #3572B6;
    outline: 2px solid black;
    box-shadow: 6px 6px 0 black;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.side-bar fieldset{
    border: 1px solid black;
    margin: 10px;
    padding: 25px;
    background-color: #00AB9F;
}

/* input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #F8F1EF;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"]:checked {
    background-color: #DF0024;
    border: 2px solid black;
} */

.dropdown-menu{
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: large;
    text-align: center;
    appearance: none;
    width: 100%;
    height: auto;
    border: 3px solid black;
    background-color: #F8F1EF;
    position: relative;
    vertical-align: middle;
    padding: 2px;
}

label{
    user-select: none;
}

.selected-files{
    color: #f8f8f8;
    font-size: 15px;
    min-width: 225px;
    max-width: 225px;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid black;
    overflow: hidden;    
    margin: 10px;
    padding: 25px;
}

.settings-section{
    color: #000000;
    font-size: 20px;
    min-width: 250px;
    max-width: 250px;
    background-color: #00AB9F;
    outline: 2px solid black;
    box-shadow: 0 6px 0 black;
    margin: auto 10px 10px 10px;
    padding: 5px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    transition: transform 0.1s ease, background 0.1s ease;
}

.settings-section:hover{
    background-color: #f8f8f8;
}

.settings-section:active{
    transform: scale(0.9);
}

.search-section{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-bar{
    width: calc(100% - 43px);
    margin: 10px 0 0 10px;
    height: 50px;
    font-size: 25px;
    font-family: 'VCR OSD Mono', sans-serif;
}

.results{
    display: flex;
    background-color: #3572B6;
    flex-wrap: wrap;
    border: 3px solid black;
    flex-grow: 1;
    margin: 10px 25px 25px 10px;
    overflow-y: scroll;
}

.result-card{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00AB9F;
    width: 100%;
    height: auto;
    margin: 3px;
    font-size: 12px;
    border: 2px solid black;
}

.result-card h3{
    margin-left: 10px;
}

.result-card label{
    margin-left: auto;
    margin-right: 10px;
    font-size: 12px;
    background-color: #F8F1EF;
    border: 3px solid black;
    padding: 3px;
    transition: transform 0.1s ease, background 0.1s ease;
}

.result-card label:hover{
    background-color: #F3C300;
}

.result-card label:active{
    transform: scale(0.9);
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	opacity: 0;
}

::-webkit-scrollbar-thumb{
	background-color: #f8f8f8;
	outline: 2px solid #ffffff00;
    border: 2px solid black;
    border-radius: 10%;
	outline-offset: -2px;
    margin-left: 3px;
}

.Loading{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 85%;
    background: #00AB9F;
    opacity: 0.9;
    color: #f8f8f8;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    box-shadow: 5px 5px 0 black;
}

.source_warning{
    position: fixed;
    top: 50%; /* centralizar */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 25%;
    background: #818181;
    color: #f8f8f8;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9999;
    border: 1px solid black;
    box-shadow: 5px 5px 0 black;
    padding: 15px;
}

.modal_close{
    background: #f8f8f8;
    color: black;
    box-shadow: 0 2px 0 black;
    transition: transform 0.1s ease, background 0.1s ease;
    border: 1px solid black;
    padding: 5px;

}

.modal_close:hover{
    background: #00AB9F;
}

.modal_close:active{
    transform: scale(0.9);
}

#warning_visible{
    display: flex;
    flex-wrap: wrap;
}

#warning_hidden{
    display: none;
}